@tailwind base;
@tailwind components;
@tailwind utilities;

.selected-container:hover .selected-value{
    translate:0 100% ;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(153 27 27);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(127 29 29);
  }

  @keyframes rotating {
    50% {
        transform: rotate(150deg);
    }

    75% {
        transform: rotate(110deg);
    }

    100% {
        transform: rotate(130deg);
    }
  }

  @keyframes pop {
    
    10% {
      transform:translateY(0px) ;
    }
    
    30% {
      transform:translateY(-10px) ;
    }

    60% {
      transform:translateY(0) ;
    }
  }

  .sundiv:hover{
    animation: rotating 1s;
  }
  #moon:hover .moondiv{
    animation: pop 1s;
  }