@tailwind base;
@tailwind components;
@tailwind utilities;

.selected-container:hover .selected-value{
    translate:0 100% ;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(153 27 27);
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(127 29 29);
  }

  @keyframes rotating {
    50% {
        transform: rotate(150deg);
    }

    75% {
        transform: rotate(110deg);
    }

    100% {
        transform: rotate(130deg);
    }
  }
  
  @keyframes pop {
    
    10% {
      transform:translateY(0px) ;
    }
    
    30% {
      transform:translateY(-10px) ;
    }

    60% {
      transform:translateY(0) ;
    }
  }

  @keyframes oil {
    20% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    70% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(0deg);
    }
  }
  
  @keyframes oil2 {
    20% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    70% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(0deg);
    }
  }
  
  @keyframes oil3 {
    20% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    70% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(0deg);
    }
  }
  
  @keyframes oil4 {
    20% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-30deg);
    }
    70% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(0deg);
    }
  }

  @keyframes drop {
    0% {
      transform: translateY(0px);
      opacity: 0;
    }

    20% {
      transform: translateY(0px);
      opacity: 0;
  }

    60% {
      opacity: 1;
  }
    
    100% {
      transform: translateY(50px);
      opacity: 0;
  }
  }
  @keyframes drop2 {
    0% {
      transform: translateY(0px);
      opacity: 0;
    }

    20% {
      transform: translateY(0px);
      opacity: 0;
  }

    60% {
      opacity: 1;
  }
    
    100% {
      transform: translateY(50px);
      opacity: 0;
  }
  }
  @keyframes drop3 {
    0% {
      transform: translateY(0px);
      opacity: 0;
    }

    20% {
      transform: translateY(0px);
      opacity: 0;
  }

    60% {
      opacity: 1;
  }
    
    100% {
      transform: translateY(50px);
      opacity: 0;
  }
  }
  @keyframes drop4 {
    0% {
      transform: translateY(0px);
      opacity: 0;
    }

    20% {
      transform: translateY(0px);
      opacity: 0;
  }

    60% {
      opacity: 1;
  }
    
    100% {
      transform: translateY(50px);
      opacity: 0;
  }
  }

  .sundiv:hover{
    animation: rotating 1s;
  }
  #moon:hover .moondiv{
    animation: pop 1s;
  }
  .oil1{
    animation: oil 1.5s;
  }
  .oil2{
    animation: oil2 1.5s;
  }
  .oil3{
    animation: oil3 1.5s;
  }
  .oil4{
    animation: oil4 1.5s;
  }
  
  .drop1{
    opacity:1;
    animation: drop 1s forwards;
  }
  .drop2{
    animation: drop2 1s forwards;
  }
  .drop3{
    animation: drop3 1s forwards;
  }
  .drop4{
    animation: drop4 1s forwards;
  }

  .spc {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .glass{
      background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
    }
    .billoil .drop{
      opacity: 0;
    }
    .billoil:hover .drop{
      animation: billdrop 1s forwards;
    }
    .billoil:hover .oil{
      animation: billoil 1s forwards;
    }
    
  @keyframes billoil {
    20% {
        transform: rotate(0deg)translateX(20px);
    }
    50% {
        transform: rotate(-30deg)translateX(20px);
    }
    70% {
        transform: rotate(5deg)translateX(20px);
    }
    80% {
        transform: rotate(0deg)translateX(20px);
    }
  }
  
  @keyframes billdrop {
    0% {
      transform: translateY(0px)translateX(-25px);
      opacity: 0;
    }

    20% {
      transform: translateY(0px)translateX(-25px);
      opacity: 0;
  }

    60% {
      opacity: 1;
  }
    
    100% {
      transform: translateY(50px)translateX(-25px);
      opacity: 0;
  }
  }
  .gearbox{
    transform: translate(-63px, -25px);
  }
  .gear:hover .gearbox{
    animation: gearbox 4s forwards;
  }
  @keyframes gearbox {
    0% {
      transform: translate(-63px, -25px);
    }

    10% {
      transform: translate(-63px, -2px);
  }

  20% {
    transform: translate(-40px, -2px);
}

30% {
  transform: translate(-40px, -25px);
}

40% {
  transform: translate(-40px, 25px);
}

50% {
  transform: translate(-40px, -2px);
}

60% {
  transform: translate(-17px, -2px);
}

70% {
  transform: translate(-17px, -25px);
}

80% {
  transform: translate(-17px, 25px);
}

87% {
  transform: translate(-17px, -2px);
}

94% {
  transform: translate(-63px, -2px);
}
  }
  .filbox:hover .filter{
    animation: filter 1s  forwards;
  }
  .fildrop{
    opacity: 0;
  }
  .filbox:hover .fildrop{
    animation: fildrop 1s  forwards;
  }
  
  @keyframes filter {
    10% {
      transform: rotate(10deg);
    }
    20% {
      transform: rotate(-10deg);
    }
    40% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(-10deg);
    }
    90% {
      transform: rotate(10deg);
    }
  }
  
  @keyframes fildrop {
    0% {
      transform: translateY(0px);
      opacity: 0;
    }

    50% {
      transform: translateY(0px);
      opacity: 1;
  }

    80% {
      opacity: 1;
  }
    
    100% {
      transform: translateY(50px);
      opacity: 0;
  }
  }
  .q1{
    transform: translate(-80px, 50px);
    animation: q1 5s infinite;
  }
  .q3{
    transform: translate(-80px, 50px);
    animation: q3 5s infinite;
  }
  @keyframes q1 {
    0% {
      transform: translate(80px, 50px);
    }

    50% {
      transform: translate(80px, 30px);
    }
    
    100% {
      transform: translate(80px, 50px);
  }
}
@keyframes q3 {
  20% {
    transform: translate(-80px, 50px);
  }

  70% {
    transform: translate(-80px, 30px);
  }
  
  100% {
    transform: translate(-80px, 50px);
}
}